    <div class="unit-5 overlay" style="background:teal">
      <div class="container text-center">
        <h2 class="mb-0">Blog - Coming Soon!</h2>
      </div>
    </div>

    
    

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-5" data-aos="fade">
            <img src="images/about.jpg" class="img-md-fluid" alt="Placeholder image" style="max-width: 100%">
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="bg-white pl-lg-5 pl-0  pb-lg-5 pb-0">
            <h2 class="font-weight-bold text-black" data-aos="fade">About</h2>
            <p>Open Student Society(OSS) is a community for students to join together to develop, innovate, share and grow together as a community. It is important to note that OSS is not a club, rather a community that welcomes students, from all branches and walks of life, to participate and contribute. Some of the goals we intend to achieve with you include:</p>
            <ul class="site-block-check">
              <li><strong>Organize</strong> workshops, hackfests and other great events!</li>
              <li><strong>Share</strong> skills, information and resources among students to transform our society.</li>
              <li><strong>Support</strong> , create and work on revolutionary Projects for public benefit.</li>
              <li><strong>Make</strong> strong relations to build an OSSM('awesome') community </li>
            </ul>
            
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END section -->

    <a href="https://www.freepik.com/free-photos-vectors/background" style="color:silver;font-size: 12px">Background vector created by freepik - www.freepik.com</a>