    <div class="unit-5 overlay" style="background-image: url('images/devhack-logo-redblue.png');">
      <div class="container text-center">
        <h2 class="mb-0" style="color: transparent;"><br><br><br></h2>
      </div>
    </div>

    
    

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
       
          <div class="col-md-12 col-lg-8 mb-5">
          
            
          
            <div class="p-5 bg-white">

              <div class="mb-4 mb-md-5 mr-5">
               <div class="job-post-item-header d-flex align-items-center">
                 <h2 class="mr-3 text-black h4">DevHack 2019</h2>
                 <div class="badge-wrap">
                  <span class="bg-success text-white badge py-2 px-4">HackFest</span>
                 </div>
               </div>
               <div class="job-post-item-body d-block d-md-flex">
                 <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">OSS</a></div>
                 <div><span class="fl-bigmug-line-big104"></span> <span>IIT Dharwad</span></div>
               </div>
              </div>
              <p>Believing that every engineer has the power to transform their ideas into solutions that can positively impact the world, IIT Dharwad effectuated its first 30-hour non-stop hackathon, <strong>DevHack 2019 </strong>on 11 Jan, sponsored by GitHub.</p>
              <img src="images/bk.jpeg" alt="Image" class="img-fluid rounded">
              <br>

                <p> Problem statements, provided on the day of the event, were in the broad disciplines of hardware and software engineering and themed on a wide range of real-life problems from simple college hacks to large-scale start-up ideas. Students actively engaged in the event and all teams strained away with heart and soul.
                Refreshments were served during the hackathon and they organized workshop, provided resources and mentors to help participants.</p>
                <p> The event organizers kept a watchful eye on the clock, limiting the time of presentations and ensuing questions each to about five minutes. Some teams struggled to get their projects working and get the point across in the allotted time. “The hackathon provided a massive platform to present actionable ideas and helped all of us to discover our talent. Right from the wait for the problem statement, to the idea selection sessions and the hands-on session, all was so much fun! It was further accompanied by the delicious snacks provided to us”, said Vaishnavi Patil, who participated in the event.
                After scrutinizing the hardware and software products, judges declared the results. Some of the interesting projects of DevHack developed by the students are Attendance Tracking System, Smart Classroom, Body Posture Contraption and Smart Dustbin.</p>
                <p> One of the organizers, said “The hacks were really amazing and have huge future potential. It was really a great day for all of us and we are planning to start a community called OSS-Open Student Society at IIT Dharwad which will bring people together in ways that allow them to do things that they couldn’t have done in isolation. Also, I would like to mention that this is not the end rather a new beginning”.</p>

            </div>

          </div>

          <div class="col-lg-4">
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">Want to know more?</h3>
              <p>Check out the official website by clicking the button below.</p>
              <p><a href="https://devhack2019.github.io" class="btn btn-primary  py-2 px-4">View website</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
