    <!--Start Footer-->
    <footer class="site-footer unit-5 overlay footer-color">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="row">
              <div class="col-6 col-md-6 col-lg-6 mb-5 mb-lg-0">
                <img src="images/oss_logo.png" style="max-width: 100%">
              </div>
              <div class="col-6 col-md-3 col-lg-3 mb-5 mb-lg-0">
              </div>
              <div class="col-6 col-md-3 col-lg-3 mb-5 mb-lg-0">

                <div class="text-center">
                  <h3 class="footer-heading mb-4">Quick Links</h3>
                  <ul class="list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="codeofconduct.html">Terms &amp; Policies</a></li>
                  </ul>
                </div>
                <div class="text-center">
                  <h3 class="footer-heading mb-4">Follow Us</h3>
                  <span class="unit-3-icon icon" style="margin-left: 5%" >
                    <a href="https://www.facebook.com/OSS-Open-Student-SoIiety-390468168410308/" target="_blank">
                      <img src="images/facebook.png" style="max-width: 20px">
                    </a>
                  </span>
                  <span class="unit-3-icon icon" style="margin-left: 5%" >
                    <a href="https://www.linkedin.com/company/oss2019" target="_blank">
                      <img src="images/linkedin.png" style="max-width: 20px">
                    </a>
                  </span>
                  <span class="unit-3-icon icon" style="margin-left: 5%" >
                    <a href="https://github.com/oss2019/oss2019.github.io/" target="_blank">
                      <img src="images/github.png" style="max-width: 20px">
                    </a>
                  </span>
                </div>

              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <h3 class="footer-heading mb-4">Contact Info</h3>
            <ul class="list-unstyled">
              <li>
                <span class="d-block text-white">Address</span>
                Indian Institute of Technology, Dharwad,
                Karnataka 580011
              </li>
              <li>
                <span class="d-block text-white">Email</span>
                oss@iitdh.ac.in
              </li>
            </ul>

          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy; <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All Rights Reserved <br> OSS, IIT Dharwad<br>
            </p>
            <p style="font-size: 10px;">
            This template is made by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <br>
            Icons made by <a href="https://www.flaticon.com/authors/geotatah" target="_blank" title="geotatah" style="">geotatah</a> from <a href="https://www.flaticon.com/" target="_blank" title="Flaticon">www.flaticon.com </a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"          title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
          </p>
          </div>
        </div>
      </div>
    </footer>
    <!--End Footer-->
  </div>

  <script src="js/custom.js"></script>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>
