    <div class="site-blocks-cover" style="background-image: url(images/bk1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row row-custom align-items-center">
          <div class="col-md-12" style="background: rgba(0,0,0,0.4)">
            <h1 class="mb-2 text-white" style="text-align: center"><span class="font-weight-bold">Open Student Society <br> IIT Dharwad</span></h1>
          </div>
        </div>
      </div>
    </div>
      
    <!-- Section Introduction -->
    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-6" data-aos="fade" >
            <h2 class="text-black">Why O<strong>SS</strong> ?</h2>
          </div>
        </div>
        <div class="row hosting">
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="100">

            <div class="unit-3 h-100 bg-white">
              
              <div class="d-flex align-items-center mb-3 unit-3-heading">
                <div class="unit-3-icon-wrap mr-4">
                  <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                  </svg><span class="unit-3-icon icon "><img src="images/event.png"></span>
                </div>
                <h2 class="h5">Co-ordinate Events and Activities</h2>
              </div>
              <div class="unit-3-body">
                <p>OSS is not a club, rather a community that seeks to unite all clubs in college to organize events and activities </p>
              </div>
            </div>

          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="200">
            
            <div class="unit-3 h-100 bg-white">
              
              <div class="d-flex align-items-center mb-3 unit-3-heading">
                <div class="unit-3-icon-wrap mr-4">
                  <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                  </svg><span class="unit-3-icon icon"><img src="images/opensource.png"></span>
                </div>
                <h2 class="h5"> Promote Open-Source</h2>
              </div>
              <div class="unit-3-body">
                <p>We believe in sharing our amazing projects for the benefit of the public and open source seems to be the right step in this direction.</p>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="300">
            
            <div class="unit-3 h-100 bg-white">
              
              <div class="d-flex align-items-center mb-3 unit-3-heading">
                <div class="unit-3-icon-wrap mr-4">
                  <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                  </svg><span class="unit-3-icon icon"><img src="images/bulb.png"></span>
                </div>
                <h2 class="h5">Innovation Game</h2>
              </div>
              <div class="unit-3-body">
                <p>We strongly encourage our engineers to work on state of the art projects for the benefit of the society and the world.</p>
              </div>
            </div>

          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="400">

            <div class="unit-3 h-100 bg-white">
              
              <div class="d-flex align-items-center mb-3 unit-3-heading">
                <div class="unit-3-icon-wrap mr-4">
                  <span class="unit-3-icon icon"><img src="images/flag.png"></span>
                </div>
                <h2 class="h5">Get Expert Help</h2>
              </div>
              <div class="unit-3-body">
                <p>As a part of the community, you will have the opportunity to connect, interact and take help from experts in and around the campus to grow as an individual.</p>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="500">
            
            <div class="unit-3 h-100 bg-white">
              
              <div class="d-flex align-items-center mb-3 unit-3-heading">
                <div class="unit-3-icon-wrap mr-4">
                  <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                  </svg><span class="unit-3-icon icon fl-bigmug-line-clipboard68"></span>
                </div>
                <h2 class="h5">Collaborate with others</h2>
              </div>
              <div class="unit-3-body">
                <p>Nothing gets a job done better than Teamwork! Join hands with other members to succeed in making your ideas come alive.</p>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="600">
            
            <div class="unit-3 h-100 bg-white">
              
              <div class="d-flex align-items-center mb-3 unit-3-heading">
                <div class="unit-3-icon-wrap mr-4">
                  <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                  </svg><span class="unit-3-icon icon"><img src="images/open.png"></span>
                </div>
                <h2 class="h5">Open to All !</h2>
              </div>
              <div class="unit-3-body">
                <p>OSS is an open society for students. We encourage equal participation from all branches and years in college to grow together as a community.</p>
              </div>
            </div>

          </div>

        </div>
      
      </div>
    </div>
    <!-- End Section Introduction -->
    <!--Start Section Recent Events-->
    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-6" data-aos="fade" >
            <h2 class="text-black">Latest Events</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-5 mb-lg-0 col-lg-3 event-card" data-aos="fade">
            <div class="position-relative unit-8">
            <a href="pyday2019.html" class="mb-3 d-block img-a"><img src="images/pyday_logo.jpg" alt="Image" style="width:100%" class="img-fluid rounded"></a>
            <span class="d-block text-gray-500 text-normal small mb-3">By <a href="devhack2019.html">OSS</a> <span class="mx-2">&bullet;</span> Feb 13th-15th, 2019</span>
            <h2 class="h5 font-weihgt-normal line-height-sm mb-3"><a href="pyday2019.html" class="text-black"><strong>PyDay 2019</strong></a></h2>
            <p><strong>Learn Python </strong><br>From Beginner to Pro<br><br> No Prerequisites required. </p>
            </div>
          </div>
          <div class="col-md-6 mb-5 mb-lg-0 col-lg-3 event-card" data-aos="fade">
            <div class="position-relative unit-8">
            <a href="devhack2019.html" class="mb-3 d-block img-a"><img src="images/DevHack_logo.png" alt="Image" style="width:100%" class="img-fluid rounded"></a>
            <span class="d-block text-gray-500 text-normal small mb-3">By <a href="devhack2019.html">DevHack</a> <span class="mx-2">&bullet;</span> Jan 11th-13th, 2019</span>
            <h2 class="h5 font-weihgt-normal line-height-sm mb-3"><a href="devhack2019.html" class="text-black"><strong>DevHack 2019</strong></a></h2>
            <p>Our college's first hackfest open to all engineers to ideate and innovate a clever solution to real world problems!</p>
            </div>
          </div>
        
        </div>
      </div>
    </div>
    <!--End Section Recent Events-->
    <!--Start Section -->
    <div class="site-section block-4 bg-light">

      <div class="container">

        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-6" data-aos="fade" >
            <h2 class="text-black">In association with</h2>
          </div>
        </div>

        <div class="row hosting">
 
          <div class="col-md-6 col-lg-6 mb-5 mb-lg-6" data-aos="fade" data-aos-delay="100">
            <div class="unit-3 h-100 bg-white" style="text-align: center">
              <div class="unit-3-body">
                <img src="images/dsc.png">
              </div>
              <div class="row justify-content-center text-center mb-5">
                <h2><br><div>Developer Student Clubs</div></h2>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-5 mb-lg-6" data-aos="fade" data-aos-delay="100">
            <div class="unit-3 h-100 bg-white" style="text-align: center">
              <div class="unit-3-body" style="padding-top: 14%">
                <img src="images/github-logo.png" style="max-width: 100%">
              </div>
            </div>
          </div>
 
        </div>
      </div>
    </div>
    <!--End Section Initiators-->