<div class="unit-5 overlay" style="background: teal">
      <div class="container text-center">
        <h2 class="mb-0">Team</h2>
      </div>
    </div>

    <!--List Members-->
    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2 class="font-weight-bold text-black" data-aos="fade">Campus Leads</h2>
          </div>
        </div>
        <div class="row top-destination">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12" data-aos="fade">
            <a href="#" class="place">
              <img src="images/sonu.jpg" alt="Image placeholder">
              <h2 class="member-name">Sonu Sourav</h2>
              <p class="text-info">DSC Lead, GitHub Campus Expert</p>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12" data-aos="fade">
            <a href="#" class="place">
              <img src="images/arpit.jpg" alt="Image placeholder">
              <h2 class="member-name">Arpit Agrawal</h2>
              <p class="text-info">GitHub Campus Expert</p>
            </a>
          </div>
        </div>
        <!--Core Members-->
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2 class="font-weight-bold text-black" data-aos="fade">Core Committee</h2>
          </div>
        </div>
        <div class="row top-destination">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12" data-aos="fade">
            <a href="#" class="place">
              <img src="images/prateek.jpeg" alt="Image placeholder">
              <h2 class="member-name">Prateek Jain</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12" data-aos="fade">
            <a href="#" class="place">
              <img src="images/Mandeep.jpg" alt="Image placeholder">
              <h2 class="member-name">Mandeep Bawa</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12" data-aos="fade">
            <a href="#" class="place">
              <img src="images/svp.jpg" alt="Image placeholder">
              <h2 class="member-name">S V Praveen</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12" data-aos="fade">
            <a href="#" class="place">
              <img src="images/ganesh.jpg" alt="Image placeholder">
              <h2 class="member-name">Ganesh Samarth</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12" data-aos="fade">
            <a href="#" class="place">
              <img src="images/anudeep.jpeg" alt="Image placeholder">
              <h2 class="member-name">Anudeep Tubati</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12" data-aos="fade">
            <a href="#" class="place">
              <img src="images/soma.jpg" alt="Image placeholder">
              <h2 class="member-name">Soma Siddhartha</h2>
            </a>
          </div>
        </div>
        <!-- Mentors/ Active Members-->
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2 class="font-weight-bold text-black" data-aos="fade">Mentors / Active Members</h2>
          </div>
        </div>
        <div class="row top-destination">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12" data-aos="fade">
            <a href="#" class="place">
              <img src="images/vihang.jpg" alt="Image placeholder">
              <h2 class="member-name">Vihang Puranik</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12" data-aos="fade">
            <a href="#" class="place">
              <img src="images/akshat.jpeg" alt="Image placeholder">
              <h2 class="member-name">Akshat Karani</h2>
            </a>
          </div>
        </div>
      <!-- End of container -->
      </div>
    </div>
    <!-- END section -->
